{% extends 'layout.html' %}

{% block body %}

<h3> Hi {{session.username }} , Welcome to your dashboard.<br> You can write about anyting you want and share it private or public </h3>
<br> </br>

<a class = "btn btn-success" href="\add_article">Add Article</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <TH>AUTHOR</TH>
        <TH>DATE</TH>
        <TH></TH>
        <TH></TH>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td>{{article.created_date}}</td>
        <td><a href="edit_article/{{article.id}}" class = "btn btn-default pullright">EDIT</a> </td>
        <td>
            <form action = " {{url_for('delete_article',id=article.id)}}" method = "post">
                <input type="hidden" name = "_method" value = "DELETE">
                <input type="submit" value = "DELETE" class = "btn btn-danger">
            </form>
        </td>
    </tr>

    {% endfor%}
</table>
{% endblock %}